<%= form_for ([:admin, @route]) do |f| %>
  <%= render 'common/errors', resourse: @route %>

<h3>Дорога:</h3>

  <div class="field">
    <%= f.label :railway_station_ids, "Список станций" %>
    <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: @route.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>