<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <strong> Станции:</strong>
  <% if @route.railway_stations.empty? %>
    Empty
  <% else %>
  <table>
    <thead>
    <tr>
      <td width="60px">Название станций:</td>
      <td>Position</td>
      <td>Time array</td>
      <td>Departure time</td>
    </tr>
    </thead>
    <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td><%= station.position %></td>
        <td><%= station.time_arrive %></td>
        <td><%= station.departure_time %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>