<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>On the station:</strong>
  <% if @train.current_station.present?%>
    <%= @train.current_station.title %>
  <% else %>
    No station
  <% end %>
</p>

<p>
  <strong>The train's route:</strong>
  <% if @train.route.present?%>
    <%= @train.route.title %>
  <% else %>
    The train has no route
  <% end %>
</p>

<p>
  <strong>The train's cars:</strong>
<ul>
      <% @train.passenger_cars.each do |car|%>
      <li><%= link_to "Car №#{car.car_number}", car %></li>
    <% end %>
</ul>
  <%= link_to "Add car", new_train_passenger_car_path(@train) %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
