<%= form_for(@passenger_car) do |f| %>

  <%= render 'common/errors', resourse: @passenger_car %>

  <div class="field">
    <%= f.label :car_type %><br>
    <%= f.text_field :car_type %>
    <%= f.label :quantity_top_seats %><br>
    <%= f.text_field :quantity_top_seats %>
    <%= f.label :quantity_lower_seats %><br>
    <%= f.text_field :quantity_lower_seats %>
    <%= f.label :car_number %><br>
    <%= f.text_field :car_number %>
  </div>

  <div class="field">
    <%= f.label :train %>
    <%= f.collection_select :train_id, Train.all, :id, :number%>
  </div>

  <div class="actions">
    <%= f.submit "#{ @passenger_car.new_record? ? 'Create' : 'Edite' }" %>
  </div>
<% end %>

