<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present?%>
    <%= @train.current_station.title %>
  <% else %>
    No station
  <% end %>
</p>

<p>
  <strong>Дорога поезда:</strong>
  <% if @train.route.present?%>
    <%= @train.route.title %>
  <% else %>
    The train has no route
  <% end %>
</p>

<p>
  <strong>Вагоны поезда:</strong>
<ul>
      <% @train.passenger_cars.each do |car|%>
        <li><%= link_to "Car №#{car.car_number}", [:admin, car] %></li>
    <% end %>
</ul>
  <%= link_to "Add car", new_admin_train_passenger_car_path(@train) %>
</p>
<%= link_to 'Buy ticket', tickets_path, method: :post %> |
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
